*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6px, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6px, 1fr) [full-end];
}
@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6px, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6px, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483a;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483a;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #b28451;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 62.5em) {
  .sidebar {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: end;
    align-content: center;
  }
}

.nav__btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4.5rem;
}
.nav__btn::before, .nav__btn::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
}
.nav__btn::before {
  transform: translateY(-1.5rem);
}
.nav__btn::after {
  transform: translateY(1.3rem);
}
@media only screen and (max-width: 62.5em) {
  .nav__btn {
    margin-top: 0;
    margin-right: 3rem;
  }
  .nav__btn::before {
    transform: translateY(-1.2rem);
  }
  .nav__btn::after {
    transform: translateY(1rem);
  }
}

.header {
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .header {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 3rem;
  }
}
.header__logo {
  height: 3rem;
  justify-self: center;
}
.header__btn {
  align-self: start;
  justify-self: start;
}
.header__seenon-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
  font-size: 1.6rem;
  color: #aaa;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header__seenon-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-items: center;
  align-items: center;
}
.header__seenon-logos img {
  max-height: 2.5rem;
  max-width: 100%;
  filter: brightness(70%);
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  row-gap: 2rem;
  justify-items: center;
}
@media only screen and (max-width: 50em) {
  .realtors {
    grid-column: 1/-1;
  }
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 5vh;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .realtors__list {
    grid-template-columns: repeat(3, min-content max-content);
  }
}
@media only screen and (max-width: 37.5em) {
  .realtors__list {
    grid-template-columns: min-content max-content;
  }
}
.realtors__img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}
.realtors__sold {
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: 1/-1;
    padding: 3rem;
  }
}
.story__img--1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 50em) {
  .story__img--1 {
    grid-column: 1/5;
    grid-row: 1/-1;
    height: 100%;
    width: auto;
  }
}
.story__img--2 {
  width: 115%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 50em) {
  .story__img--2 {
    grid-row: 1/-1;
    width: 100%;
  }
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  */
  display: grid;
  align-content: center;
  justify-items: start;
}
@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
.story__content-text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

.homes {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
}
.home__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 1;
}
.home__like {
  grid-row: 1/2;
  grid-column: 2/3;
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  z-index: 2;
  justify-self: end;
  margin: 1rem;
}
.home__name {
  grid-row: 1/2;
  grid-column: 1/-1;
  z-index: 3;
  align-self: end;
  justify-self: center;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
}
.home__location, .home__rooms {
  margin-top: 2.5rem;
}
.home__location, .home__rooms, .home__area, .home__price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
}
.home__btn {
  grid-column: 1/-1;
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3/6;
  grid-column: 1/3;
}
.gallery__item--6 {
  grid-row: 4/6;
  grid-column: 3/5;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3/5;
  grid-column: 6/8;
}
.gallery__item--9 {
  grid-row: 3/6;
  grid-column: 8/9;
}
.gallery__item--10 {
  grid-row: 6/8;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6/8;
  grid-column: 2/4;
}
.gallery__item--12 {
  grid-row: 6/8;
}
.gallery__item--13 {
  grid-row: 5/8;
  grid-column: 5/8;
}
.gallery__item--14 {
  grid-row: 6/8;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem;
}
.footer .nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;
}
.footer .nav__link:link, .footer .nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.footer .nav__link:hover, .footer .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  text-align: center;
  width: 70%;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvX2Jhc2Uuc2NzcyIsInN0eWxlLmNvbXAuY3NzIiwiLi4vc2Fzcy9fdHlwb2dyYXBoeS5zY3NzIiwiLi4vc2Fzcy9fc2lkZWJhci5zY3NzIiwiLi4vc2Fzcy9faGVhZGVyLnNjc3MiLCIuLi9zYXNzL19yZWFsdG9ycy5zY3NzIiwiLi4vc2Fzcy9fZmVhdHVyZXMuc2NzcyIsIi4uL3Nhc3MvX3N0b3J5LnNjc3MiLCIuLi9zYXNzL19ob21lcy5zY3NzIiwiLi4vc2Fzcy9fZ2FsbGVyeS5zY3NzIiwiLi4vc2Fzcy9fZm9vdGVyLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBc0JBOzs7RUFHRSxTQUFBO0VBQ0EsVUFBQTtFQUNBLG1CQUFBO0FDckJGOztBRHdCQTtFQUNFLHNCQUFBO0VBQ0EsZ0JBQUE7QUNyQkY7QUR1QkU7RUFKRjtJQUtJLGNBQUE7RUNwQkY7QUFDRjs7QUR1QkE7RUFDRSxpQ0EzQmE7RUE0QmIsY0EvQmtCO0VBZ0NsQixnQkFBQTtFQUNBLGdCQUFBO0FDcEJGOztBRHVCQTtFQUNFLGFBQUE7RUFDQSxnRUFBQTtFQUNBLHlNQUNFO0FDckJKO0FEeUJFO0VBUkY7SUFTSSxxRUFBQTtJQUNBLHdLQUNFO0VDdkJKO0FBQ0Y7QUQyQkU7RUFoQkY7SUFpQkksMkNBQUE7RUN4QkY7QUFDRjs7QUN4Q0E7RUFDRSx1Q0ZhYTtFRVpiLGdCQUFBO0FEMkNGOztBQ3pDQTtFQUVFLGlCQUFBO0VBQ0EsY0ZEbUI7RUVFbkIsY0FBQTtBRDJDRjs7QUN4Q0E7RUFFRSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0FEMENGO0FDeENFO0VBQ0UsY0ZaaUI7QUNzRHJCO0FDdkNFO0VBQ0UsY0ZiZ0I7QUNzRHBCOztBQ3JDQTtFQUdFLGlCQUFBO0VBQ0EsY0Y3QmM7RUU4QmQseUJBQUE7QURzQ0Y7O0FDbkNBO0VBRUUsaUJBQUE7QURxQ0Y7QUNuQ0U7RUFDRSxjRmpDaUI7QUNzRXJCO0FDbENFO0VBQ0UsY0ZsQ2dCO0FDc0VwQjs7QUNoQ0E7RUFDRSx5QkYvQ2M7RUVnRGQsV0FBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLHVDRnRDYTtFRXVDYixpQkFBQTtFQUNBLHlCQUFBO0VBQ0Esb0JBQUE7RUFDQSxlQUFBO0VBQ0Esb0JBQUE7QURtQ0Y7QUNqQ0U7RUFDRSx5QkYxRGlCO0FDNkZyQjs7QUMvQkE7RUFDRSxtQkFBQTtBRGtDRjs7QUNoQ0E7RUFDRSxtQkFBQTtBRG1DRjs7QUNqQ0E7RUFDRSxtQkFBQTtBRG9DRjs7QUNsQ0E7RUFDRSxtQkFBQTtBRHFDRjs7QUUvR0E7RUFDRSx5QkFBQTtFQUNBLHNDQUFBO0VBQ0EsY0FBQTtFQUNBLGFBQUE7RUFDQSx1QkFBQTtBRmtIRjtBRWhIRTtFQVBGO0lBUUksaUJBQUE7SUFDQSxhQUFBO0lBQ0Esb0JBQUE7SUFDQSxxQkFBQTtFRm1IRjtBQUNGOztBRWhIQTtFQUNFLFlBQUE7RUFDQSxnQkFBQTtFQUVBLHNCQUFBO0VBQ0EsV0FBQTtFQUNBLGFBQUE7RUFDQSxrQkFBQTtBRmtIRjtBRWhIRTtFQUVFLFdBQUE7RUFDQSxjQUFBO0VBQ0Esc0JBQUE7RUFDQSxXQUFBO0VBQ0EsYUFBQTtBRmlISjtBRTdHRTtFQUNFLDhCQUFBO0FGK0dKO0FFN0dFO0VBQ0UsNkJBQUE7QUYrR0o7QUU1R0U7RUExQkY7SUEyQkksYUFBQTtJQUNBLGtCQUFBO0VGK0dGO0VFN0dFO0lBQ0UsOEJBQUE7RUYrR0o7RUU3R0U7SUFDRSwyQkFBQTtFRitHSjtBQUNGOztBR2pLQTtFQUVFLGlDQUFBO0VBQ0Esd0dBQUE7RUFLQSxzQkFBQTtFQUNBLDJCQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBRUEsYUFBQTtFQUNBLGlFQUFBO0VBQ0EsdURBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7QUg4SkY7QUc3SkU7RUFsQkY7SUFtQkksaUJBQUE7RUhnS0Y7QUFDRjtBRzlKRTtFQXRCRjtJQXVCSSxhQUFBO0VIaUtGO0FBQ0Y7QUdoS0U7RUFDRSxZQUFBO0VBQ0Esb0JBQUE7QUhrS0o7QUcvSkU7RUFDRSxpQkFBQTtFQUNBLG1CQUFBO0FIaUtKO0FHOUpFO0VBQ0UsYUFBQTtFQUNBLDBDQUFBO0VBQ0EsdUJBQUE7T0FBQSxrQkFBQTtFQUNBLG1CQUFBO0VBQ0EsaUJBQUE7RUFDQSxXSmxDaUI7QUNrTXJCO0FHOUpJO0VBRUUsV0FBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0VBQ0EsOEJBQUE7QUgrSk47QUczSkU7RUFDRSxhQUFBO0VBQ0EscUNBQUE7RUFDQSxxQkFBQTtPQUFBLGdCQUFBO0VBQ0EscUJBQUE7RUFDQSxtQkFBQTtBSDZKSjtBRzNKSTtFQUNFLGtCQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBO0FINkpOOztBSTNOQTtFQUNFLHlCTEdnQjtFS0ZoQixpQ0FBQTtFQUNBLGFBQUE7RUFFQSxhQUFBO0VBQ0EscUJBQUE7RUFDQSx1QkFBQTtFQUNBLGFBQUE7RUFDQSxxQkFBQTtBSjZORjtBSTVORTtFQVZGO0lBV0ksaUJBQUE7RUorTkY7QUFDRjtBSTdORTtFQUNFLGFBQUE7RUFDQSw4Q0FBQTtFQUNBLHFCQUFBO09BQUEsZ0JBQUE7RUFDQSxZQUFBO0VBQ0EsbUJBQUE7QUorTko7QUk3Tkk7RUFQRjtJQVFJLHlEQUFBO0VKZ09KO0FBQ0Y7QUk5Tkk7RUFYRjtJQVlJLDhDQUFBO0VKaU9KO0FBQ0Y7QUk5TkU7RUFDRSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0FKZ09KO0FJN05FO0VBQ0UseUJBQUE7RUFDQSxXTC9CaUI7RUtnQ2pCLGdCQUFBO0FKK05KOztBS3RRQTtFQUNFLG9DQUFBO0VBRUEsZUFBQTtFQUVBLGFBQUE7RUFFQSwyREFBQTtFQUNBLFNBQUE7RUFDQSxrQkFBQTtBTHNRRjs7QUtuUUE7RUFDRSxhQUFBO0VBRUEsc0NBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7T0FBQSxrQkFBQTtBTHFRRjtBS25RRTtFQUNFLGFObkJZO0VNb0JaLGFBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSw0QkFBQTtBTHFRSjtBS2xRRTtFQUNFLGlCQUFBO0FMb1FKOztBTS9SRTtFQUVFLGlDQUFBO0VBTUEseUdBQUE7RUFLQSxzQkFBQTtFQUNBLGFBQUE7RUFDQSxrQ0FBQTtFQUNBLHFDQUFBO0VBQ0EsbUJBQUE7QU53Uko7QU10Ukk7RUFuQkY7SUFvQkksaUJBQUE7SUFDQSxhQUFBO0VOeVJKO0FBQ0Y7QU10UkU7RUFDRSxXQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0VBQ0EsMENBQUE7QU53Uko7QU10Ukk7RUFORjtJQU9JLGdCQUFBO0lBQ0EsY0FBQTtJQUNBLFlBQUE7SUFDQSxXQUFBO0VOeVJKO0FBQ0Y7QU12UkU7RUFDRSxXQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0VBQ0EsV0FBQTtFQUNBLDBDQUFBO0FOeVJKO0FNdlJJO0VBUEY7SUFTSSxjQUFBO0lBQ0EsV0FBQTtFTnlSSjtBQUNGO0FNdFJFO0VBQ0UseUJQaERpQjtFT2lEakIsaUNBQUE7RUFFQSxpQkFBQTtFQUNBOzs7OztHQUFBO0VBT0EsYUFBQTtFQUNBLHFCQUFBO0VBQ0Esb0JBQUE7QU5zUko7QU1wUkk7RUFoQkY7SUFpQkksaUJBQUE7SUFDQSxhQUFBO0VOdVJKO0FBQ0Y7QU1yUkk7RUFDRSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsbUJBQUE7QU51Uk47O0FPcFdBO0VBRUUsb0NBQUE7RUFDQSxlQUFBO0VBRUEsYUFBQTtFQUNBLDJEQUFBO0VBQ0EsU0FBQTtBUHFXRjs7QU9sV0E7RUFDRSx5QlJMbUI7RVFPbkIsYUFBQTtFQUNBLHFDQUFBO0VBQ0EsZUFBQTtBUG9XRjtBT2xXRTtFQUNFLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGFBQUE7RUFDQSxVQUFBO0FQb1dKO0FPaldFO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0VBQ0EsYVIxQlk7RVEyQlosWUFBQTtFQUNBLFdBQUE7RUFDQSxVQUFBO0VBQ0EsaUJBQUE7RUFDQSxZQUFBO0FQbVdKO0FPaFdFO0VBQ0UsYUFBQTtFQUNBLGlCQUFBO0VBQ0EsVUFBQTtFQUVBLGVBQUE7RUFDQSxvQkFBQTtFQUNBLFVBQUE7RUFDQSx1Q1I3Qlc7RVE4QlgsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EseUJSM0NjO0VRNENkLFdBQUE7RUFDQSxnQkFBQTtFQUNBLDBCQUFBO0FQaVdKO0FPOVZFO0VBRUUsa0JBQUE7QVArVko7QU81VkU7RUFJRSxpQkFBQTtFQUNBLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsU0FBQTtBUDJWSjtBTzFWSTtFQUNFLGFSbkVVO0VRb0VWLFlBQUE7RUFDQSxXQUFBO0FQNFZOO0FPeFZFO0VBQ0UsaUJBQUE7QVAwVko7O0FRcmFBO0VBQ0UseUJUS21CO0VTSm5CLGdDQUFBO0VBRUEsYUFBQTtFQUNBLHFDQUFBO0VBQ0Esa0NBQUE7RUFDQSxXQUFBO0VBQ0EsZUFBQTtBUnVhRjtBUXBhSTtFQUNFLGtCQUFBO0VBQ0EscUJBQUE7QVJzYU47QVFuYUk7RUFDRSxrQkFBQTtFQUNBLHFCQUFBO0FScWFOO0FRbGFJO0VBQ0Usa0JBQUE7QVJvYU47QVFqYUk7RUFDRSxrQkFBQTtFQUNBLGlCQUFBO0FSbWFOO0FRaGFJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FSa2FOO0FRL1pJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FSaWFOO0FROVpJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FSZ2FOO0FRN1pJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FSK1pOO0FRNVpJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FSOFpOO0FRM1pJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FSNlpOO0FRM1pJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FSNlpOO0FRMVpJO0VBQ0UsYUFBQTtBUjRaTjtBUXhaSTtFQUNFLGFBQUE7RUFDQSxnQkFBQTtBUjBaTjtBUXZaSTtFQUNFLGFBQUE7QVJ5Wk47QVFwWkU7RUFDRSxXQUFBO0VBQ0EsWUFBQTtFQUVBLG9CQUFBO0tBQUEsaUJBQUE7RUFDQSxjQUFBO0FScVpKOztBUzFlQTtFQUNFLHlCVkdnQjtFVUZoQixnQ0FBQTtFQUNBLGFBQUE7QVQ2ZUY7QVMzZUU7RUFDRSxnQkFBQTtFQUNBLGFBQUE7RUFDQSwyREFBQTtFQUNBLFNBQUE7RUFDQSxtQkFBQTtBVDZlSjtBU3ZlTTtFQUVFLGlCQUFBO0VBQ0EsV0FBQTtFQUNBLHFCQUFBO0VBQ0EsdUNWUE87RVVRUCx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7RUFDQSxvQkFBQTtBVHdlUjtBU25lTTtFQUVFLDJDQUFBO0VBQ0EsMkJBQUE7QVRvZVI7O0FTOWRBO0VBQ0UsaUJBQUE7RUFDQSxXVm5DbUI7RVVvQ25CLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtBVGllRiIsImZpbGUiOiJzdHlsZS5wcmVmaXguY3NzIn0= */